@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #06b6d4;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  letter-spacing: 0.04rem;
}

/****  container  ****/
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/**  Links  **/

.link {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 100ms ease-in-out;
}

.link-primary:hover,
.link-secondary:hover,
.link:hover {
  transform: scale(1.05);
}

.link-primary {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 2rem;
  color: white;
  margin-right: 1rem;
}

.link-secondary {
  display: inline-block;
  color: var(--primary-color);
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
}

/** hr **/
hr {
  margin: 2rem 0rem;
}

/***  list  ***/
.list-non-bullet {
  list-style: none;
  width: 70%;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/***  nav  ***/

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation .link {
  color: white;
  font-size: 1.1rem;
}

.navigation .nav-pills {
  /* display: flex;
  justify-content: end; */
  text-align: end;
}

.navigation .link-active {
  font-weight: 600;
}

/***  hero  ***/

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 400px;
  display: block;
  margin: 2rem auto;
}

.hero .hero-heading {
  text-align: center;
  padding: 2.5rem 0;
  color: var(--dark-gray);
  font-weight: 600;
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/***  section  ***/

.section {
  padding: 2.5rem;
  position: relative;
  margin-bottom: 2rem !important;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #06b6d4;
  padding: 0.5rem;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 1rem;
}

.section {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.ow {
  border-radius: 1rem;
  background-color: var(--off-white);
}

.date-li {
  display: inline-block;
  margin: 1rem 1rem;
}

.description-li {
  margin: auto;
  margin-bottom: 1.5rem;
  max-width: 90%;
}
.description {
  margin: 1rem;
}
.bold {
  font-weight: 500;
}

.projects-ul {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

/***footer***/
footer {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  color: white;
}

.footer-links {
  display: inline-block;
  color: #fff;
  padding: 0 1rem 1rem;
  text-decoration: none;
  font-size: 2rem;
}

.footer-links:hover {
  transform: scale(1.05);
}

.footer-name {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
}
